.reviews{
  padding: 150px 0;
}

.reviews__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 90px;
  overflow: hidden;
}

.review-card {
  display: flex;
  flex-direction: column;
  background-color: #018abe;
  border-radius: 10px;
  padding: 50px 60px;
  margin-right: 50px;
}

.review-card__title {
  font-size: 20px;
  font-weight: bold;
}
